@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-underline: none;
  color: inherit;
}

body {
  height: 100%;
  width: 100%;
  font-family: Lexend, serif;
}

html {
  height: 100%;
  font-size: 10px;
  color: $light;
}

#root {
  height: 100%;
}

h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 7rem;
}

h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.1rem;
}

h4 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.background {
  min-height: 100%;
  background: #110a1d;
}

.wrapper {
  max-width: 117rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.border {
  border-radius: 9rem;
  border: 3px solid $base;
  background: $background;
  backdrop-filter: blur(10px);
  padding: 2.4rem;
  transition: all 0.3s ease;
}

.fallback {
  padding: 10rem 0;
  font-size: 3rem;
}

.mainInfo {
  display: flex;
  gap: 1rem;
  align-items: center;

  .mainInfo__searchResults {
    width: 100%;
  }

  .mainInfo__managePage {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.pageSize {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 0;
  height: 2rem;
}

.notFound {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
