.pagination {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;

  .pagination__item {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 10rem;
    border: 2px solid $base;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease;

    &_active {
      background: $base;
    }

    &_inactive {
      cursor: none;
      border: 2px solid #051836;

      img {
        opacity: 0.5;
      }

      &:hover {
        cursor: inherit;
        background: inherit;
      }
    }

    &:hover {
      cursor: pointer;
      background: $background;
    }
  }

  .pagination__item p {
    font-size: 1.3rem;
  }

  .pagination__img {
    height: 1.5rem;

    &_next,
    &_last {
      rotate: 180deg;
    }
  }
}
